@{
    Layout = "_LayOutLoggedIn";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello @ViewData["FirstName"] @ViewData["LastName"]!</h1>
    <h2> Budget: @ViewData["AccountBudget"]$</h2>
</div>
