@model IEnumerable<Transactions>

@{
    Layout = "_LayOutLoggedIn";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello @TempData["FirstName"] @TempData["LastName"]!</h1>
    <h2> Budget: @TempData["AccountBudget"]$</h2>
</div>

<button id="left">Previous</button>
<button id="right">Next</button>

<div id="transactionDisp"


@section Scripts {
    <script>
        var currentDate = new Date();
        var currentMonth = currentDate.getMonth() + 1;
        var currentYear = currentDate.getFullYear();

        document.addEventListener("DOMContentLoaded", function(){
            var url = "/TransactionData/TransactionsData?" + "Month=" + currentMonth + "&Year=" + currentYear;

            fetch(url, {
                method: "GET",
                credentials: "include"
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                var displayData =  document.getElementById("transactionDisp");

                displayData.innerHTML = ""; 

                data.forEach(function(transaction) {

                    var p = document.createElement("p");

                        p.textContent = "Transaction Description: " + transaction.description +
                                    ", Amount: " + transaction.amount +
                                        ", Date: " + new Date(transaction.transactionDate).toLocaleDateString();

                    // Append the paragraph element to the transactions section
                    displayData.appendChild(p);
                });
            })
            
        })

        document.getElementById("left").addEventListener("click", function(){

            if (currentMonth == 1){
                currentMonth = 12;
                currentYear -= 1; 
            } else {
                currentMonth -= 1;
            }

            var url = "/TransactionData/TransactionsData?" + "Month=" + currentMonth + "&Year=" + currentYear;

            fetch(url, {
                method: "GET",
                credentials: "include"
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                var displayData =  document.getElementById("transactionDisp");

                displayData.innerHTML = "";

                data.forEach(function(transaction) {

                    var p = document.createElement("p");

                        p.textContent = "Transaction Description: " + transaction.description +
                                    ", Amount: " + transaction.amount +
                                        ", Date: " + new Date(transaction.transactionDate).toLocaleDateString();

                    // Append the paragraph element to the transactions section
                    displayData.appendChild(p);
                });
            })

        })

        document.getElementById("right").addEventListener("click", function(){

            if (currentMonth == 12){
                currentMonth = 1;
                currentYear += 1;
            } else {
                currentMonth += 1;
            }

            var url = "/TransactionData/TransactionsData?" + "Month=" + currentMonth + "&Year=" + currentYear;

            fetch(url, {
                method: "GET",
                credentials: "include"
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                var displayData =  document.getElementById("transactionDisp");

                displayData.innerHTML = "";

                data.forEach(function(transaction) {

                    var p = document.createElement("p");

                        p.textContent = "Transaction Description: " + transaction.description +
                                    ", Amount: " + transaction.amount +
                                        ", Date: " + new Date(transaction.transactionDate).toLocaleDateString();

                    // Append the paragraph element to the transactions section
                    displayData.appendChild(p);
                });
            })

        })

    </script>
}