@{
    Layout = "_LayOutLoggedIn";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello @TempData["FirstName"] @TempData["LastName"]!</h1>
    <h2> Budget: @TempData["AccountBudget"]$</h2>
</div>
